* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #93D6E9;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
}


h1 {
    text-align: center;
    margin: 0px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-style: italic;
}

button {
    text-align: right;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    background: #CCF1E7;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

body {
    background-color: #CCF1E7;
}

footer {
    background-color: #93D6E9;
    text-align: center;
}

.hero-img {
    height: 100%;
    width: 100%;
    background: url('hero-img') no-repeat center center;
    background-size: cover;
} 